[alt="whois_avatar"] {
    width: 200px;
    float: right; 
    margin-left: 30px;
}

.entry-content p {
    text-align: justify;
}


#tldr {
    color: #7b4e50;
    font-family: monospace;
}

#page-description {
    color: #fff;
}
