// colors
//black;
$color0: #191719;
$color8: #7f7f7f;
//red;
$color1: #966161;
$color9: #ca9797;
//green;
$color2: #619668;
$color10: #99bda6;
//yellow;
$color3: #968461;
$color11: #bdac99;
//blue;
$color4: #617f96;
$color12: #99a3bd;
//magenta;
$color5: #ad708f;
$color13: #ca97bf;
//cyan;
$color6: #618e96;
$color14: #99b9bd;
//white;
$color7: #585258;
$color15: #857a85;

//special;
$colorFg: $color15;
$colorBg: $color0;
$colorCursor: $color14;
